@import 'colors/catppuccino-mocha.css';

* {
  border: none;
  border-radius: 0px;

  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 11px;
  font-weight: bold;

  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: transparent;
}

.modules-left {
  padding: 7px;
  margin: 10px 0 2px 10px;
  border-radius: 10px;
  background: alpha(@bg0, 0.8);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

.modules-center {
  padding: 7px;
  margin: 10px 0 2px 0;
  border-radius: 10px;
  background: alpha(@bg0, 0.8);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

.modules-right {
  padding: 7px;
  margin: 10px 10px 2px 0;
  border-radius: 10px;
  background: alpha(@bg0, 0.8);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

tooltip {
  background: alpha(@bg0, 0.8);
  border: 1px solid @bg1;
  border-radius: 10px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

tooltip label {
  color: @text;
  padding: 6px;
}

#workspaces {
  padding: 3px 5px;
  color: @text;
}

#workspaces button {
  padding: 0px 6px;
  margin: 0px 3px;
  border-radius: 50px;
  color: transparent;
  background-color: @bg1;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background-color: @text;
  color: @bg0;
  min-width: 50px;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  background-color: @purple;
  color: @bg0;
  border-radius: 16px;
  min-width: 50px;
  background-size: 400% 400%;
}

#workspaces button.urgent {
  background-color: @red;
  color: @bg0;
  border-radius: 16px;
  min-width: 50px;
  background-size: 400% 400%;
  transition: all 0.3s ease-in-out;
}

/* Individual Module margins inside the groups so they are padded correctly */
#custom-keyboard,
#custom-logout,
#network,
#memory,
#cpu,
#temperature,
#clock,
#tray,
#backlight,
#custom-notification,
#pulseaudio,
#battery,
#custom-updates,
#custom-screenrecord,
#custom-hypridle,
#bluetooth,
#custom-calculator,
#custom-expand,
#custom-expand-der,
#custom-filemanager,
#custom-obsidian,
#custom-wallpaper,
#custom-music,
#custom-terminal {
  background-color: transparent;
  color: @text;
  padding: 0 8px;
  margin: 0;
  border: none;
  font-size: 13px; /* Ensure size matches nicely with the Eli themes */
}

/* Hover effects adapted for old colors */
#clock:hover,
#custom-updates:hover,
#custom-hypridle:hover,
#custom-keyboard:hover,
#custom-filemanager:hover,
#custom-screenrecord:hover,
#battery:hover,
#network:hover,
#custom-logout:hover,
#bluetooth:hover,
#cpu:hover,
#pulseaudio:hover,
#memory:hover,
#temperature:hover,
#custom-calculator:hover,
#custom-notification:hover,
#custom-wallpaper:hover,
#custom-obsidian:hover,
#custom-terminal:hover,
#custom-music:hover,
#backlight:hover {
  transition: all 0.3s ease;
  color: @purple;
}

#custom-expand,
#custom-expand-der {
  color: @text;
  transition: all 0.3s ease;
}

#custom-expand:hover,
#custom-expand-der:hover {
  color: @purple;
}

/* Fix some spacing between left, center, right groups inside pill */
#group-expand,
#group-expand-der,
#group-izq,
#group-der1,
#group-der2,
#group-der3 {
    padding: 0px 5px;
    transition: all 0.3s ease;
}

#custom-hypridle.notactive {
  color: @red;
}
